<mat-card class="main-com">
    <mat-card-title>Додати новий продукт</mat-card-title>
    <mat-card-subtitle>Усі поля обов'язкові для заповнення!</mat-card-subtitle>
    <form (submit)='onSubmitForm(postForm)' #postForm="ngForm">
      <mat-form-field class="form-input">
        <input required [ngModel]="product?.name" placeholder="Назва" matInput type="text" name="name" #title="ngModel">
        <mat-error *ngIf="title.invalid">Це поле обов'язкове для заповнення!!!</mat-error>
      </mat-form-field>
      <mat-form-field class="form-input">
        <input required [ngModel]="product?.price"  placeholder="Ціна" matInput type="number" name="price" #price="ngModel">
        <mat-error *ngIf="title.invalid">Це поле обов'язкове для заповнення!!!</mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary">Змінити продукт</button>
    </form>
  </mat-card>
